/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  position: relative; 
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  display: flex;
  flex-direction: column;
}
  header {
    height: 71px;
    z-index: 1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noto Sans Mono', monospace;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 247, 233, 0.593);
}
#g-nav{
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top:0;
    right: -100%;
    width:30%;
    height: 100vh;/*ナビの高さ*/
    background:#fff;
    /*動き*/
    transition: all 0.6s;
    display: flex;
    flex-direction: column;
}


/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    right: 0;
}
/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    position: fixed;
    z-index: 999;
    width: 30%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav-list{
  display: grid;
  grid-auto-flow: column;

}
/*ナビゲーション*/
#g-nav ul {
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#g-nav li{
    list-style: none;
    text-align: center;
}
#g-nav li a{
    color: #333;
    text-decoration: none;
    padding:10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: "M PLUS 1p";
}
#g-nav li input{
  background-color: #fff;
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: "M PLUS 1p";
  border: #fff;
  font-size: 16px;
}
.openbtn{
    position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
    top:10px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height:50px;
}
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #333;
    width: 45%;
  }
.openbtn span:nth-of-type(1) {
    top:15px;
}
.openbtn span:nth-of-type(2) {
    top:23px;
}
.openbtn span:nth-of-type(3) {
    top:31px;
}
.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}
.openbtn.active span:nth-of-type(2) {
    opacity: 0;
}
.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
footer {
  color: white;
  height: 30px;
  background-color: #000;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: flex-end;
  bottom: 0;
}
.wrapper{
  min-height: 100vh;
  position:relative;
  padding-bottom: 50px;
  box-sizing: border-box;
}
.header-list {
    display: flex;
    align-items: center;
    margin-right: 100px;
  }
.header-list a{
  margin: 10px;
}

  header li {
    list-style: none;
    margin-right: 40px;
  }

.header-logo{
  font-family: serif;
}

footer {
  color: rgb(0, 0, 0);
  height: 30px;
  background-color: rgba(255, 247, 233, 0.593);
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  
}







