.classic-top_image{
    margin-left: 430px;
    margin-top: 90px;
    width: 700px;
  
  }
  
  .classic-toptext{
    font-size: 70px;
    font-family: serif;
    position: absolute;
    z-index: 1;
    top: 28%;
    left: 7%;
    border: solid rgb(45, 25, 10) 4px;
    padding: 20px;
    text-align: center;
  }
  
  .classic-second_block {
    background-color: #f0f0f0;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .classic-setumei{
    font-size: 30px;
    font-family: serif;
    margin-left:50px
  }
  
  
  .classic-sikisai{
    font-size: 20px;
    font-family: serif;
    margin-right:50px;
    border: solid black 1px;
    padding: 20px;
  }
  
  .classic-color-block1{
    width: 30px;
    height: 30px;
    background-color: black;
    margin-left:  100px;
  }
  
  .classic-color-block2{
    width: 30px;
    height: 30px;
    background-color: white;
    margin-left:  30px;
  }
  
  .classic-block{
    display: flex;
  }
  
  .classic-third-block{
    height: 200px;
    background-color: #f7f2f7;
  }

  
  
  .itiran-photo{
    display: flex;
    justify-content: center;
  }
  
  