.natural-top_image{
    margin-left: 430px;
    margin-top: 70px;
    width: 750px;
  
  }
  
  .natural-toptext{
    font-size: 70px;
    font-family: serif;
    position: absolute;
    z-index: 1;
    top: 28%;
    left: 6%;
    border: solid rgb(164, 215, 120) 4px;
    padding: 20px;
    text-align: center;
  }
  
  .natural-second_block {
    background-color: #f0f0f0;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .natural-setumei{
    font-size: 30px;
    font-family: serif;
    margin-left:50px
  }
  
  
  .natural-sikisai{
    font-size: 20px;
    font-family: serif;
    margin-right:50px;
    border: solid black 1px;
    padding: 20px;
  }
  
  .natural-color-block1{
    width: 30px;
    height: 30px;
    background-color: rgb(245, 245, 220);
    margin-left:  100px;
  }
  
  .natural-color-block2{
    width: 30px;
    height: 30px;
    background-color: rgb(222, 184, 135);
    margin-left:  30px;
  }
  
  .natural-block{
    display: flex;
  }
  
  .natural-third-block{
    height: 200px;
    background-color: #f1f8f0;
  }
  .posts-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
  }
  
  .post{
    width: 250px;
    border: solid black 2px;
    text-align: center;
    margin: 20px;
    padding: 10px 40px;
    border-radius: 20px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
  
  }
  
  .itiran-photo{
    display: flex;
    justify-content: center;
  }
  