// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field{
    font-size: 30px;
    text-align: center;
}
.casual-box{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    margin-right: 260px;
    margin-left: 260px;
    background-color: rgb(253, 172, 129);
    color: aliceblue;
    font-weight: 900;
    font-style: serif;
    font-size: 20px;
}
.natural-box{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    margin-right: 260px;
    margin-left: 260px;
    background-color: rgb(164, 215, 120);
    color: aliceblue;
    font-weight: 900;
    font-style: serif;
    font-size: 20px;
}
.modern-box{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    margin-right: 260px;
    margin-left: 260px;
    background-color: rgb(222, 172, 237);
    color: aliceblue;
    font-weight: 900;
    font-style: serif;
    font-size: 20px;
}
.classic-box{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    margin-right: 260px;
    margin-left: 260px;
    background-color: rgb(45, 25, 10);
    color: aliceblue;
    font-weight: 900;
    font-style: serif;
    font-size: 20px;
}
.orthodox-box{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    margin-right: 260px;
    margin-left: 260px;
    background-color: rgb(121, 84, 55);
    color: aliceblue;
    font-weight: 900;
    font-style: serif;
    font-size: 20px;
}
.elegant-box{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    margin-right: 260px;
    margin-left: 260px;
    background-color: rgb(255, 173, 224);
    color: aliceblue;
    font-weight: 900;
    font-style: serif;
    font-size: 20px;
}
.chic-box{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    margin-right: 260px;
    margin-left: 260px;
    background-color: rgb(150, 150, 150);
    color: aliceblue;
    font-weight: 900;
    font-style: serif;
    font-size: 20px;
}
.urban-box{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    margin-right: 260px;
    margin-left: 260px;
    background-color: rgb(192, 189, 133);
    color: aliceblue;
    font-weight: 900;
    font-style: serif;
    font-size: 20px;
}
.mannish-box{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    margin-right: 260px;
    margin-left: 260px;
    background-color: rgb(95, 112, 146);
    color: aliceblue;
    font-weight: 900;
    font-style: serif;
    font-size: 20px;
}
.ethnic-box{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    margin-right: 260px;
    margin-left: 260px;
    background-color: rgb(179, 93, 93);
    color: aliceblue;
    font-weight: 900;
    font-style: serif;
    font-size: 20px;
}

.naiyou{
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
}
.haxtusyutagu{
    width: 300px;
    height: 200px;
    display: block;
    margin: auto;
}