// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.login-text{
    margin-top: 100px;
    text-align: center;
}

.login-text h2{
    text-align: center;
}

.signup-text{
    margin-top: 100px;
    text-align: center;
}

.login-haikei{
    background-image: url(image1.png);
    background-repeat: no-repeat;
    background-size: cover;
  
}